.header {
	background-color: var(--primary);
	color: var(--white);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 1rem;
}

.header__logo {
	font-weight: bold;
	font-size: 4rem;
	color: var(--accent);
	-webkit-text-stroke-width: thin;
	-webkit-text-stroke-color: var(--accent-dark);
	-webkit-text-fill-color: var(--accent);
}

.header__nav__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.header__nav__list li {
	margin: 1rem;
}

.header__nav__list a {
	color: var(--dark);
	background-color: var(--accent-muted);
	font-size: 1.2rem;
	border-style: solid;
	border-width: 0.1rem;
	border-radius: 0.4rem;
	padding: 0.5rem 0.5rem;
}

.header__nav__list a:hover {
	color: var(--white);
	background-color: var(--dark);
}
