<!DOCTYPE html>
<html lang="en">
	<head>
		<div th:insert="fragments/head.html :: head"></div>
		<link
			rel="stylesheet"
			type="text/css"
			href="/css/specific/allCategoriesView.css"
		/>
	</head>

	<body>
		<div class="wrapper">
			<header th:replace="fragments/header.html :: header"></header>

			<main class="main">
				<section>
					<h1>allCategoriesView.html</h1>
					<h2>
						(To be completed).
					</h2>
				</section>
			</main>

			<footer th:replace="fragments/footer.html :: footer"></footer>
		</div>
	</body>
</html>
