<!DOCTYPE html>
<html lang="en">
<head>
<div th:insert="fragments/head.html :: head"></div>
<link rel="stylesheet" type="text/css"
	href="/css/specific/allTagsView.css" />
</head>

<body>
	<div class="wrapper">
		<header th:replace="fragments/header.html :: header"></header>

		<main class="main">
		<section>
			<h1>Tags</h1>
			<ul>
				<li th:each="tag: ${allTagsModel}"><a
					th:href="|/tags/${tag.id}|">
						<h2 th:text="${tag.name}">Name</h2>
				</a></li>
			</ul>

		</section>
		</main>

		<footer th:replace="fragments/footer.html :: footer"></footer>
	</div>
</body>
</html>
