<!DOCTYPE html>
<html lang="en">
	<head>
		<div th:insert="fragments/head.html :: head"></div>
		<link
			rel="stylesheet"
			type="text/css"
			href="/css/common/entityContent.css"
		/>
		<link rel="stylesheet" type="text/css" href="/css/common/newEntity.css" />
		<link
			rel="stylesheet"
			type="text/css"
			href="/css/specific/allTagsView.css"
		/>
	</head>

	<body>
		<div class="wrapper">
			<header th:replace="fragments/header.html :: header"></header>

			<main class="main">
				<header class="entity__header">
					<h2 class="entity__header__label">Tags</h2>
				</header>

				<section class="new-entity-section">
					<h3 class="new-entity-section__title">Add New Tag</h3>
					<form class="new-entity-form" action="/tags/add" method="POST">
						<div class="form-element">
							<label class="element__label">Name:</label>
							<input
								class="element__text-field"
								type="text"
								name="name"
								value=""
							/>
						</div>
						<button class="form-button" type="submit">
							Create New Tag
						</button>
					</form>
				</section>

				<section class="entity__content">
					<ul class="card-gallery">
						<li class="card" th:each="tag: ${allTagsModel}">
							<a class="card__anchor" th:href="|/tags/${tag.id}|">
								<h3 class="card__anchor-label" th:text="${tag.name}">
									Name
								</h3>
							</a>
						</li>
					</ul>
				</section>
			</main>

			<footer th:replace="fragments/footer.html :: footer"></footer>
		</div>
	</body>
</html>
