<!DOCTYPE html>
<html lang="en">
	<head>
		<div th:insert="fragments/head.html :: head"></div>
		<link
			rel="stylesheet"
			type="text/css"
			href="/css/specific/singleTagView.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="/css/common/entityContent.css"
		/>
	</head>

	<body>
		<div class="wrapper">
			<header th:replace="fragments/header.html :: header"></header>

			<main class="main">
				<header class="entity__header">
					<h2 class="entity__header__label">Posts With Tag:</h2>
					<h2 class="entity__header__name" th:text="${singleTagModel.name}">
						Tag Name
					</h2>
				</header>

				<section class="entity__content">
					<ul class="card-gallery">
						<li class="card" th:each="post: ${postsModel}">
							<a class="card__anchor" th:href="|/posts/${post.id}|">
								<h3 class="card__anchor-label" th:text="${post.title}">
									Post Name
								</h3>
							</a>
						</li>
					</ul>
				</section>
			</main>

			<footer th:replace="fragments/footer.html :: footer"></footer>
		</div>
	</body>
</html>
